@media (min-width:800px) {
    /* HEADER */
    header h1 {
        top: 100px;
        left: 90px;
        font-size: 90px;
    }
    img.hlogo {
        display: initial;
    }

    /* NAV */
    nav ul.nav {
        flex-direction: row;
        position: relative;
        z-index: 1;
        top: 0;
        background-color: white;
        border-bottom: thin #006680 solid;
    }
    .nav {
        width: 100%;
    }
    li.nav a {
        display: block;
        flex: 1 1 auto;
        width: auto;
        color: #006680;
        flex-flow: row nowrap;
        text-align: center;
    }
    li.menu a {
        display: none;
    }
    li.active a {
        border-bottom: thick #006680 solid;
    }
    .nav a:hover {
        background-color: #006680;
        color: white;
        text-shadow: -1px 0px black, 0px -1px black, 1px 0px black, 0px 1px black;
        border-bottom: thick #006680 solid;
    }
    /* HOME */
    main.home {
        display: grid;
        grid-template: 1fr 1fr / 1fr 4fr;
        grid-gap: 20px;
    }
    .home div.reznow {
        grid-area: 1 / 1 / 2 / 2;
    }
    .home div.contact {
        grid-area: 2 / 1 / 3 / 2;
    }
    .center {
        grid-area: 1 / 2 / 3 / 3;
    }
    /* SERVICES & TEMPLES */
    main.services, main.temples {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-gap: 20px;
    }
    .amenities, #atl {
        grid-area: 1 / 1 / 2 / 2;
    }
    .ftmish, #newp {
        grid-area: 2 / 2 / 3 / 3;
    }
    .wedding, #bern {
        grid-area: 2 / 1 / 3 / 2;
    }
    .fhistory, #aba {
        grid-area: 1 / 2 / 2 / 3;
    }
    main.missionary div {
        position: relative;
        bottom: 500px;
        right: 300px;
    }
    .wedding figure img {
        position: absolute;
        top: 1000px;
        left: 500px;
        z-index: -1;
        max-height: 800px;
    }
}