body {
    background-color: white;
    font-family: href='https://fonts.googleapis.com/css?family=Alegreya';
    font-size: 16px;
    color: black;
}
#logo {
    display: block;
}
header {
    background-color: #99bbff;
    color: black;
    text-align: center;
    width: 100%;
}
header img, .headings {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffff66;
}
li a {
    display: block;
    width: 100%;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #000066;
    color: white;
}
.active {
    background-color: #6699ff;
    color: white;
}