body {
    margin: 0;
    background-color: lightslategray;
    color: black;
    font-family: 'Alegreya', serif;
    font-size: 16px;
    height: 100%;
}
header {
    background-color: white;
    color: #000066;
    text-align: center;
    width: 100%;
    border-bottom: 11px;
    border-bottom-color: black;
    height: 330px;
    display: flex;
    flex-direction: column;
}
main {
    min-height: calc(100vh - 140px);
}
.logo img {
    display: inline;
    vertical-align: middle;
    margin: 10px;
    flex-direction: column;
}
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #000066;
    display: flex;
    flex-flow: column nowrap;
}
a {
    display: none;
    width: 100%;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
a:hover {
    background-color: #99bbff;
    color: black;
}
li.active a {
    background-color: #ffff66;
    color: black;
}
li.menu a {
    display: block;
}
section.forecast {
    display: none;
}
#form {
    background-color: white;
    color: black;
    border-radius: 20px 0px;
    border: medium solid black;
    box-shadow: 3px 3px darkgray;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 40px;
}
#form fieldset {
    border: thick #000066 dashed;
    padding-bottom: 50px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
legend {
    background-color: #000066;
    color: white;
    padding: 3px 6px;
}
div#dangerzone {
    line-height: 20px;
    line-break: strict;
    margin: auto;
}
picture img {
    max-width: 100%;
    height: auto;
}
footer {
    background-color: #000066;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
    height: auto;
}
footer > div {
    display: none;
}
article {
    display: block;
}
.responsive a {
    display: block;
    float: none;
}
section.gallery {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
}
figure img {
    max-width: 100%;
    height: auto;
}
